<div class="container">
    <article class="card">
        <h1>Registro</h1>
        <form id="registerForm" class="form" autocomplete="off">
            <div class="row">
                <label for="username">Usuario</label>
                <input id="username" name="username" type="text" required minlength="2" />
            </div>
            <div class="row">
                <label for="password">Contraseña</label>
                <input id="password" name="password" type="password" required minlength="6" />
            </div>
            <button type="submit" class="btn">Guardar</button>
            <p id="registerMsg" style="min-height:1.25rem;margin:0.25rem 0 0"></p>
        </form>
    </article>
</div>